.list-group-item {
  position: relative;
  display: block;
  padding: 5px 10px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-size: 8px;
}

.text {
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   line-height: 16px;     /* fallback */
   max-height: 32px;      /* fallback */
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.favicon {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.bootstrap-select .btn:focus {
    outline: none !important;
}

.close-btn {
  margin-left: 10px;
  font-size: 16px;
}

.close-btn:hover {
  color: #d9534f;
}

.close-btn:disabled {
  color: #000000;
}

#searchinput {
  /*width: 200px;*/
  max-width: 600px;
}

#searchclear {
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
  display: none;
}

#searchdiv {
  margin-top: 5px;
  margin-bottom: 10px;
}
